p {
    color: #fff;
}

.starmap_container {
    display: flex;
}

.sidebar {
    /*margin-top: 1em;*/
    /*margin-left: 1em;*/
    /*padding: 0.5em;*/
    background-color: black;
    width: 180px;
    /*border: 2px solid var(--separator);*/
}

.getCoords {
    background-color: var(--highlight);
    width: 180px;
    height: 70px;
    border: 0;
    font-size: 1em;
    /*position: absolute;*/
    /*left: 40px;*/
    /*top: 1%;*/
    line-height: 0.5em;
}

.getCoords:hover {
    filter: brightness(110%);
    cursor: pointer;

}

.getCoords span {
    font-size: 0.6em;
    text-align: left;
}

.coords, .coords_flow,
.coords_selected,
.angular,
.angular_slider,
.info {
    display: block;
    color: #fff;
    font-size: 0.5em;
}

.coords_selected
, .coords_flow
, .angular_slider {
    margin-top: 1em;
    margin-left: 2em;

}


.info {
    /*height: 300px;*/
    overflow: scroll;
    font-size: 0.5em;
    padding-top: 1em;
    margin-left: 2em;
}

.angular_input {
    background-color: black;
    border: 0;
    text-decoration: underline;
    color: var(--highlight);
    width: 2em;
    padding-top: 1em;
}

.angular {
    margin-left: 2em;
}

.angular_input:focus {
    outline: none;
    background-color: var(--shaded_text);
    color: black;
    text-decoration: none;
}

#celestial-map {
    /*width: 90%;*/
    /*height: 90%;*/
    margin: 0 auto;

}

