@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono'), url('./JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 25px;
    background-color: #030303;
}

:root {
    --highlight: #ebc455;
    --highlight-rgb: 235, 196, 85;
    --shaded_text: #808080;
    --flow_input: #777;
    --separator: #111;
}
