@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono'), url('./JetBrainsMono-Regular.ttf') format('truetype');
    font-weight: 400; /* or other weight */
    font-style: normal;
}

body {
    margin: 0;
    font-family: 'JetBrains Mono', sans-serif;
    font-size: 25px;
    background-color: black;
}

:root {
    --highlight: #ebc455;
    --highlight-rgb: 235, 196, 85;
    --shaded_text: #808080;
    --flow_input: #777;
    --separator: #2a2828;
}
/*.font-base {*/
/*    font-family: 'JetBrains Mono', monospace;*/
/*    font-weight: 400;*/
/*    letter-spacing: 2px;*/
/*    text-transform: uppercase;*/
/*}*/

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/
