/* SelectStyles.css */

#object .reactSelect__control {
    border: 0;
    box-shadow: none;
    background-color: transparent;
}

#object .reactSelect__control:hover {
    border-color: var(--highlight);
}

#object .reactSelect__placeholder {
    color: rgba(255,255,255,0.5);
    font-size: 1.25em;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}

#object .reactSelect__single-value  {
    color: var(--highlight);
    font-size: 1.25em;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
}

#object .reactSelect__menu {
    background-color: rgba(51,51,51,1);
    color: white;
    font-size: 1.25em;
    width: 15.75em;
}

#object .reactSelect__option {
    color: white;
    background-color: transparent;
    width: 100%;
    text-transform: uppercase;
}

#object .reactSelect__option--is-selected {
    color: var(--shaded_text);
}

#object .reactSelect__option--is-focused {
    background-color: rgba(211,236,39,0.1);
}

#object .reactSelect__option:hover {
    background-color: rgba(255,255,255,0.1);
}

#object .reactSelect__multiValue {
    font-size: 1.25em;
    background-color: rgba(211,236,39,0.1);
}

#object .reactSelect__indicator-separator {
    display: none;
}
#object .reactSelect__indicator svg {
    display: none;
}
#object .reactSelect__indicator::after {
    content: "↓";
    font-size: 1.25em;
    color: rgba(255,255,255,0.5);
    font-weight: 400;
    font-family: 'JetBrains Mono', monospace;
}

#object .reactSelect__multi-value {
    background-color: rgba(255,255,255,0.2);
    color: white;
}
#object .reactSelect__multi-value__label {
    color: white;
    font-size: 1.25em;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#object .reactSelect__clear-indicator {
    display: none;
}
#object .reactSelect__input-container .reactSelect__input {
    font-size: 0.9375em !important;
    color: white !important;
    /*padding-left: 0.47em !important;*/
    font-weight: 400;
}

#object .reactSelect__value-container {
    padding: 0;
}


