.coordinatesContainer {
    display: flex;
    justify-content: space-between;
    margin-left: 0.55em;
}

.coordinatesContainer input {
    width:10px;
}

.coordinatesContainer input::placeholder {
    text-align: center;
    background: url(underline.png) no-repeat bottom center;
}
.hidden-span {
    border: solid 1px rgba(0,0,0,0);
    font-size: 1.25em;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 400;
    letter-spacing: 0.0625em;
    text-transform: uppercase;
    visibility: hidden;

}

